@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.top-left {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
}

.top-right {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
}

.bottom-left {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

.bottom-right {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}
